body {
    margin-top: 10%;
    background-color: #b8b6b6;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    .card-content {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        top: -75px;
        z-index: -1;
      }
      
      .card1 {
        margin: 0;
        width: 20%;
        background-color: #42515a;
        border-radius: 5%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      
      .avatar-div {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      
      .avatar {
        margin: 0;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: solid 10px #c74f86;
        border-radius: 50%;
        background-color: white;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0px -10px 5px darkgray;

        i {
            font-size: 110px;
            color: #353535;
            border: none;
          }
      }
      
      .card1 h1 {
        margin-top: 100px;
        color: #c74f86;
        display: flex;
        justify-content: center;
      }
      
      .card1 p {
        display: flex;
        justify-content: center;
      }
      
      .card1 .social-media {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 35px;
      }
      
      .card1 .social-media i {
        border-radius: 50%;
        background-color: #c74f86;
        color: white;
        padding: 10px;
        margin-right: 5px;
        margin-left: 5px;
        font-size: 25px;
      }
      
      .card1 .social-media-stats {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #c74f86;
        color: white;
      }
      
      /* /////////////////////////////////////////////////////CARD 2/////////////////////////////////////////////////////////////////*/
      
      
  }
  
 