$base-color: #f94f6b;
$base-color-2: #f35928;
$base-color-3: #47a63b;
$text-color: #b3b3b3;

body {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  .card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 250px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 5px 15px gray;
    transition: all .2s ease-in-out;
    margin-top: 7%;
    .card2-image {
      grid-area: image;
      background: url(./../images/city-1.jpg);
      background-size: cover;
  
      &.second {
        grid-area: image;
        background: url(./../images/city-2.jpg);
        background-size: cover;
      }
      &.third {
        grid-area: image;
        background: url(./../images/city-3.jpg);
        background-size: cover;
      }
    }
    .card2-text {
      text-align: center;
      padding: 15px;
      &.sec p:first-child {
        color: $base-color-2;
        &.thir p:first-child {
          color: $base-color-3;
        }
      }
    }
  
    .body {
      color: $text-color;
    }
  
    .card2-stats {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: $base-color;
      color: white;
      div p {
        align-items: center;
      }
      div p:last-child {
        font-size: 10px;
      }
    }
  }
  .card2:hover {
    transform: scale(1.2);
  }
}